body {
  width: 100%;
  height: 100%;
  margin: 0px; }

/*=============================================================================
	BACKGROUND
=============================================================================*/
#Sunset {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #553030; }

#Background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #8ED6FF;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; }

#Gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  background: -webkit-linear-gradient(#393939, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(#393939, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(#393939, rgba(0, 0, 0, 0));
  background: linear-gradient(#393939, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  opacity: .5; }

/*=============================================================================
	PARTICLES
=============================================================================*/
#Particles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#Particles .Particle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: gray;
  border-radius: 10px;
  transform: translate(0px, 0px, 0px);
  -webkit-transform: translate(0px, 0px, 0px);
  z-index: 10; }

/*=============================================================================
	CAR
=============================================================================*/
#Car {
  position: absolute;
  left: 0px;
  bottom: 3px;
  height: 230px;
  width: 150px; }

#Car #Image {
  position: absolute;
  right: 0px;
  height: 230px;
  width: 150px;
  background: url("../images/driving-car.png");
  background-size: 100% 100%; }

#Car #Exhaust {
  position: absolute;
  right: 5px;
  bottom: 40px;
  height: 10px;
  width: 10px; }

/*=============================================================================
	PERSON
=============================================================================*/
#Person {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 350px;
  width: 150px;
  cursor: pointer; }

#Person #Image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 350px;
  width: 130px;
  background: url("../images/person.png");
  background-size: 100% 100%; }

#Person #Intake {
  position: absolute;
  left: 51px;
  top: 39px;
  height: 10px;
  width: 10px; }

#Person #Intake #Mouth {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 8px;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

#Person #Intake #Mouth.Open {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

/*=============================================================================
	INTERFACE
=============================================================================*/
#Interface * {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

#Interface .Visible {
  opacity: 1;
  pointer-events: visibleFill;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

#Loading {
  position: absolute;
  width: 300px;
  height: 260px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -130px;
  line-height: 190px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color: #ad0909;
  background: url("../images/yeild.png");
  background-size: 100% 100%; }

#Play {
  background-color: green;
  border-radius: 10px;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  color: white;
  font-size: 40px;
  border: solid white 4px;
  cursor: pointer; }

#Play:active {
  color: black; }

#Stop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: white;
  top: 4px;
  right: 4px;
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  background: url("../images/stop.png");
  background-size: 100% 100%; }
